.centered {
    text-align: center;
    font-size: 40px;
    font-weight: normal;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.top-buffer { margin-top:20px; }

.refresh-button {
    width: 110px;
    height: 110px;
    cursor:pointer;
    background: transparent;
    border: none;
    outline: none;
    background-image:url('/app/images/button.png');
    background-repeat: no-repeat;
}

.refresh-button:active {
  transform: translateY(4px);
}

.fruit-images {
  width: 235px;
  height: 155px;
}

.jumbotron{
  height:100%;
  width:100%;
  background-color:transparent !important;
}

.container{
  width:1025px;
}

.jumbotron .container {
  max-width: 100%;
}

.vertical-center {
  min-height: 100%; 
  min-height: 100vh;

  display: flex;
  align-items: center;
}
