<!--HTML-->
<div class="jumbotron vertical-center">
<div class="container">
    <div class="row centered">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><app-dialog [bonusModal]= outcomeData.bonusDetails></app-dialog></div>
    </div>
	<div class="row centered">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">{{outcomeData.outcomeName}}!</div>
	</div>
	<div class="row">
	    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" *ngFor= '# number of outcomeData.randomNumbers; #i=index'>
			<img class="fruit-images" src="{{imageUrl[i]}}" alt="loading">
		</div>
	</div>
	<div class="row centered top-buffer">
	     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			 <button class="refresh-button" (click)="loadOutcome()">
			 </button>
		 </div>
	</div>
</div>
</div>